<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service code : SC-001</title>
    <link rel="stylesheet" href="/static/css/bootstrap_5-2-2.css">
    <script src="/static/js/bootstrap_5-2-2.js"></script>
</head>

<body>

    {% include "home/menu.html" %}

    <div class="container">

        <div class="border mt-3 p-3">
            Service code : SC-001
            Customer code : RETRO-001 <br>
            Name : กนกพร ทองประเสริฐ <br>
            Tel : 098-765-4321 <br>
            อาการเสีย : XXXXXXXXXXXXXX
        </div>

        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="อัพเดตข้อมูล" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <input type="file" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">อัพเดตข้อมูล</span>
        </div>

        <div class="border mt-3 p-3">
            <div class="d-flex">
                <p class="me-5">18 Feb 2023, 13:00</p>
                <p class="me-5">ทีมช่าง</p>
                <p class="me-5">รับงานเรียบร้อย รอเข้าดำเนินการวันพรุ่งนี้</p>
            </div>
            <div class="d-flex">
                <p class="me-5">18 Feb 2023, 10:00</p>
                <p class="me-5">center</p>
                <p class="me-5">นัดหมายทีมช่างเข้าไปแก้ไข</p>
            </div>
            <div class="d-flex">
                <p class="me-5">18 Feb 2023, 09:00</p>
                <p class="me-5">center</p>
                <p class="me-5">รับเรื่องจากลูกค้า</p>
            </div>
        </div>

</body>

</html>