<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer RETRO00-001</title>
    <link rel="stylesheet" href="/static/css/bootstrap_5-2-2.css">
    <script src="/static/js/bootstrap_5-2-2.js"></script>
</head>

<body>

    {% include "home/menu.html" %}

    <div class="container">

        <div class="border mt-3 p-3">
            Customer code : RETRO-001 <br>
            Name : กนกพร ทองประเสริฐ <br>
            Tel : 098-765-4321
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/1.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : DMS703-US/EU</p>
                <p>จำนวนที่ติดตั้ง : 4 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/2.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : KES-606US-Z3</p>
                <p>จำนวนที่ติดตั้ง : 2 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/3.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : THWFSO1W</p>
                <p>จำนวนที่ติดตั้ง : 6 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/4.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : Parameter specification</p>
                <p>จำนวนที่ติดตั้ง : 1 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/5.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : Smart Control Panel Wall</p>
                <p>จำนวนที่ติดตั้ง : 1 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/6.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : เซ็นเซอร์แม่เหล็กประตูและหน้าต่าง TM81/ TM1-ZA</p>
                <p>จำนวนที่ติดตั้ง : 2 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

        <div class="d-flex border mt-3 p-3">
            <div style="width: 500px;">
                <img src="/static/pic/RETRO-001/7.jpg" alt="">
            </div>
            <div>
                <p>ชื่ออุปกรณ์ : กล้องวงจรปิด</p>
                <p>จำนวนที่ติดตั้ง : 6 จุด</p>
                <p>ดูภาพถ่ายตำแหน่งที่ติดตั้ง</p>
            </div>
        </div>

    </div>

</body>

</html>